{
  "openapi": "3.0.0",
  "info": {
    "title": "Cosmos SDK & EVM API Documentation",
    "version": "1.0.0",
    "description": "Complete API reference for Cosmos SDK and EVM functionality"
  },
  "servers": [
    {
      "url": "https://rest.cosmos.network",
      "description": "Cosmos REST Mainnet"
    },
    {
      "url": "https://testnet-rest.cosmos.network",
      "description": "Cosmos REST Testnet"
    },
    {
      "url": "http://localhost:1317",
      "description": "Local Development"
    }
  ],
  "paths": {},
  "components": {
    "schemas": {
      "PexRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PexRequest. Implement full parsing for details."
          }
        }
      },
      "PexAddrs": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PexAddrs. Implement full parsing for details."
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Message. Implement full parsing for details."
          }
        }
      },
      "PacketPing": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PacketPing. Implement full parsing for details."
          }
        }
      },
      "PacketPong": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PacketPong. Implement full parsing for details."
          }
        }
      },
      "PacketMsg": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PacketMsg. Implement full parsing for details."
          }
        }
      },
      "Packet": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Packet. Implement full parsing for details."
          }
        }
      },
      "AuthSigMessage": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for AuthSigMessage. Implement full parsing for details."
          }
        }
      },
      "NetAddress": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for NetAddress. Implement full parsing for details."
          }
        }
      },
      "ProtocolVersion": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ProtocolVersion. Implement full parsing for details."
          }
        }
      },
      "DefaultNodeInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for DefaultNodeInfo. Implement full parsing for details."
          }
        }
      },
      "DefaultNodeInfoOther": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for DefaultNodeInfoOther. Implement full parsing for details."
          }
        }
      },
      "PublicKey": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PublicKey. Implement full parsing for details."
          }
        }
      },
      "Proof": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Proof. Implement full parsing for details."
          }
        }
      },
      "ValueOp": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValueOp. Implement full parsing for details."
          }
        }
      },
      "DominoOp": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for DominoOp. Implement full parsing for details."
          }
        }
      },
      "ProofOp": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ProofOp. Implement full parsing for details."
          }
        }
      },
      "ProofOps": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ProofOps. Implement full parsing for details."
          }
        }
      },
      "BitArray": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for BitArray. Implement full parsing for details."
          }
        }
      },
      "App": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for App. Implement full parsing for details."
          }
        }
      },
      "Consensus": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Consensus. Implement full parsing for details."
          }
        }
      },
      "CanonicalBlockID": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CanonicalBlockID. Implement full parsing for details."
          }
        }
      },
      "CanonicalPartSetHeader": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CanonicalPartSetHeader. Implement full parsing for details."
          }
        }
      },
      "CanonicalProposal": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CanonicalProposal. Implement full parsing for details."
          }
        }
      },
      "CanonicalVote": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CanonicalVote. Implement full parsing for details."
          }
        }
      },
      "CanonicalVoteExtension": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CanonicalVoteExtension. Implement full parsing for details."
          }
        }
      },
      "ConsensusParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ConsensusParams. Implement full parsing for details."
          }
        }
      },
      "BlockParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for BlockParams. Implement full parsing for details."
          }
        }
      },
      "EvidenceParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for EvidenceParams. Implement full parsing for details."
          }
        }
      },
      "ValidatorParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorParams. Implement full parsing for details."
          }
        }
      },
      "VersionParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for VersionParams. Implement full parsing for details."
          }
        }
      },
      "HashedParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for HashedParams. Implement full parsing for details."
          }
        }
      },
      "SynchronyParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SynchronyParams. Implement full parsing for details."
          }
        }
      },
      "FeatureParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for FeatureParams. Implement full parsing for details."
          }
        }
      },
      "ABCIParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ABCIParams. Implement full parsing for details."
          }
        }
      },
      "EventDataRoundState": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for EventDataRoundState. Implement full parsing for details."
          }
        }
      },
      "Evidence": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Evidence. Implement full parsing for details."
          }
        }
      },
      "DuplicateVoteEvidence": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for DuplicateVoteEvidence. Implement full parsing for details."
          }
        }
      },
      "LightClientAttackEvidence": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for LightClientAttackEvidence. Implement full parsing for details."
          }
        }
      },
      "EvidenceList": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for EvidenceList. Implement full parsing for details."
          }
        }
      },
      "Block": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Block. Implement full parsing for details."
          }
        }
      },
      "ValidatorSet": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorSet. Implement full parsing for details."
          }
        }
      },
      "Validator": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Validator. Implement full parsing for details."
          }
        }
      },
      "SimpleValidator": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SimpleValidator. Implement full parsing for details."
          }
        }
      },
      "PartSetHeader": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PartSetHeader. Implement full parsing for details."
          }
        }
      },
      "Part": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Part. Implement full parsing for details."
          }
        }
      },
      "BlockID": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for BlockID. Implement full parsing for details."
          }
        }
      },
      "Header": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Header. Implement full parsing for details."
          }
        }
      },
      "Data": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Data. Implement full parsing for details."
          }
        }
      },
      "Vote": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Vote. Implement full parsing for details."
          }
        }
      },
      "Commit": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Commit. Implement full parsing for details."
          }
        }
      },
      "CommitSig": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CommitSig. Implement full parsing for details."
          }
        }
      },
      "ExtendedCommit": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ExtendedCommit. Implement full parsing for details."
          }
        }
      },
      "ExtendedCommitSig": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ExtendedCommitSig. Implement full parsing for details."
          }
        }
      },
      "Proposal": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Proposal. Implement full parsing for details."
          }
        }
      },
      "SignedHeader": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SignedHeader. Implement full parsing for details."
          }
        }
      },
      "LightBlock": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for LightBlock. Implement full parsing for details."
          }
        }
      },
      "BlockMeta": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for BlockMeta. Implement full parsing for details."
          }
        }
      },
      "TxProof": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for TxProof. Implement full parsing for details."
          }
        }
      },
      "Request": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Request. Implement full parsing for details."
          }
        }
      },
      "EchoRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for EchoRequest. Implement full parsing for details."
          }
        }
      },
      "FlushRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for FlushRequest. Implement full parsing for details."
          }
        }
      },
      "InfoRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for InfoRequest. Implement full parsing for details."
          }
        }
      },
      "InitChainRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for InitChainRequest. Implement full parsing for details."
          }
        }
      },
      "QueryRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryRequest. Implement full parsing for details."
          }
        }
      },
      "CheckTxRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CheckTxRequest. Implement full parsing for details."
          }
        }
      },
      "CommitRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CommitRequest. Implement full parsing for details."
          }
        }
      },
      "ListSnapshotsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ListSnapshotsRequest. Implement full parsing for details."
          }
        }
      },
      "OfferSnapshotRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for OfferSnapshotRequest. Implement full parsing for details."
          }
        }
      },
      "LoadSnapshotChunkRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for LoadSnapshotChunkRequest. Implement full parsing for details."
          }
        }
      },
      "ApplySnapshotChunkRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ApplySnapshotChunkRequest. Implement full parsing for details."
          }
        }
      },
      "PrepareProposalRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PrepareProposalRequest. Implement full parsing for details."
          }
        }
      },
      "ProcessProposalRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ProcessProposalRequest. Implement full parsing for details."
          }
        }
      },
      "ExtendVoteRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ExtendVoteRequest. Implement full parsing for details."
          }
        }
      },
      "VerifyVoteExtensionRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for VerifyVoteExtensionRequest. Implement full parsing for details."
          }
        }
      },
      "FinalizeBlockRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for FinalizeBlockRequest. Implement full parsing for details."
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Response. Implement full parsing for details."
          }
        }
      },
      "ExceptionResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ExceptionResponse. Implement full parsing for details."
          }
        }
      },
      "EchoResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for EchoResponse. Implement full parsing for details."
          }
        }
      },
      "FlushResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for FlushResponse. Implement full parsing for details."
          }
        }
      },
      "InfoResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for InfoResponse. Implement full parsing for details."
          }
        }
      },
      "InitChainResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for InitChainResponse. Implement full parsing for details."
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryResponse. Implement full parsing for details."
          }
        }
      },
      "CheckTxResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CheckTxResponse. Implement full parsing for details."
          }
        }
      },
      "CommitResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CommitResponse. Implement full parsing for details."
          }
        }
      },
      "ListSnapshotsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ListSnapshotsResponse. Implement full parsing for details."
          }
        }
      },
      "OfferSnapshotResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for OfferSnapshotResponse. Implement full parsing for details."
          }
        }
      },
      "LoadSnapshotChunkResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for LoadSnapshotChunkResponse. Implement full parsing for details."
          }
        }
      },
      "ApplySnapshotChunkResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ApplySnapshotChunkResponse. Implement full parsing for details."
          }
        }
      },
      "PrepareProposalResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PrepareProposalResponse. Implement full parsing for details."
          }
        }
      },
      "ProcessProposalResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ProcessProposalResponse. Implement full parsing for details."
          }
        }
      },
      "ExtendVoteResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ExtendVoteResponse. Implement full parsing for details."
          }
        }
      },
      "VerifyVoteExtensionResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for VerifyVoteExtensionResponse. Implement full parsing for details."
          }
        }
      },
      "FinalizeBlockResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for FinalizeBlockResponse. Implement full parsing for details."
          }
        }
      },
      "CommitInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CommitInfo. Implement full parsing for details."
          }
        }
      },
      "ExtendedCommitInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ExtendedCommitInfo. Implement full parsing for details."
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Event. Implement full parsing for details."
          }
        }
      },
      "EventAttribute": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for EventAttribute. Implement full parsing for details."
          }
        }
      },
      "ExecTxResult": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ExecTxResult. Implement full parsing for details."
          }
        }
      },
      "TxResult": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for TxResult. Implement full parsing for details."
          }
        }
      },
      "ValidatorUpdate": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorUpdate. Implement full parsing for details."
          }
        }
      },
      "VoteInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for VoteInfo. Implement full parsing for details."
          }
        }
      },
      "ExtendedVoteInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ExtendedVoteInfo. Implement full parsing for details."
          }
        }
      },
      "Misbehavior": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Misbehavior. Implement full parsing for details."
          }
        }
      },
      "Snapshot": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Snapshot. Implement full parsing for details."
          }
        }
      },
      "Pairs": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Pairs. Implement full parsing for details."
          }
        }
      },
      "Pair": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Pair. Implement full parsing for details."
          }
        }
      },
      "ListenFinalizeBlockRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ListenFinalizeBlockRequest. Implement full parsing for details."
          }
        }
      },
      "ListenFinalizeBlockResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ListenFinalizeBlockResponse. Implement full parsing for details."
          }
        }
      },
      "ListenCommitRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ListenCommitRequest. Implement full parsing for details."
          }
        }
      },
      "ListenCommitResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ListenCommitResponse. Implement full parsing for details."
          }
        }
      },
      "StoreInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for StoreInfo. Implement full parsing for details."
          }
        }
      },
      "CommitID": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CommitID. Implement full parsing for details."
          }
        }
      },
      "StoreKVPair": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for StoreKVPair. Implement full parsing for details."
          }
        }
      },
      "BlockMetadata": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for BlockMetadata. Implement full parsing for details."
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Metadata. Implement full parsing for details."
          }
        }
      },
      "SnapshotItem": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SnapshotItem. Implement full parsing for details."
          }
        }
      },
      "SnapshotStoreItem": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SnapshotStoreItem. Implement full parsing for details."
          }
        }
      },
      "SnapshotIAVLItem": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SnapshotIAVLItem. Implement full parsing for details."
          }
        }
      },
      "SnapshotExtensionMeta": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SnapshotExtensionMeta. Implement full parsing for details."
          }
        }
      },
      "SnapshotExtensionPayload": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SnapshotExtensionPayload. Implement full parsing for details."
          }
        }
      },
      "Module": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Module. Implement full parsing for details."
          }
        }
      },
      "GenesisState": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GenesisState. Implement full parsing for details."
          }
        }
      },
      "MsgVerifyInvariant": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgVerifyInvariant. Implement full parsing for details."
          }
        }
      },
      "MsgVerifyInvariantResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgVerifyInvariantResponse. Implement full parsing for details."
          }
        }
      },
      "MsgUpdateParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgUpdateParams. Implement full parsing for details."
          }
        }
      },
      "MsgUpdateParamsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgUpdateParamsResponse. Implement full parsing for details."
          }
        }
      },
      "GeneratorParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GeneratorParams. Implement full parsing for details."
          }
        }
      },
      "MsgLoadTest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgLoadTest. Implement full parsing for details."
          }
        }
      },
      "MsgLoadTestResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgLoadTestResponse. Implement full parsing for details."
          }
        }
      },
      "Op": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Op. Implement full parsing for details."
          }
        }
      },
      "FileDescriptorsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for FileDescriptorsRequest. Implement full parsing for details."
          }
        }
      },
      "FileDescriptorsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for FileDescriptorsResponse. Implement full parsing for details."
          }
        }
      },
      "QueryEvidenceRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryEvidenceRequest. Implement full parsing for details."
          }
        }
      },
      "QueryEvidenceResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryEvidenceResponse. Implement full parsing for details."
          }
        }
      },
      "QueryAllEvidenceRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAllEvidenceRequest. Implement full parsing for details."
          }
        }
      },
      "QueryAllEvidenceResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAllEvidenceResponse. Implement full parsing for details."
          }
        }
      },
      "Equivocation": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Equivocation. Implement full parsing for details."
          }
        }
      },
      "MsgSubmitEvidence": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgSubmitEvidence. Implement full parsing for details."
          }
        }
      },
      "MsgSubmitEvidenceResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgSubmitEvidenceResponse. Implement full parsing for details."
          }
        }
      },
      "WeightedVoteOption": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for WeightedVoteOption. Implement full parsing for details."
          }
        }
      },
      "TextProposal": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for TextProposal. Implement full parsing for details."
          }
        }
      },
      "Deposit": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Deposit. Implement full parsing for details."
          }
        }
      },
      "TallyResult": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for TallyResult. Implement full parsing for details."
          }
        }
      },
      "DepositParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for DepositParams. Implement full parsing for details."
          }
        }
      },
      "VotingParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for VotingParams. Implement full parsing for details."
          }
        }
      },
      "TallyParams": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for TallyParams. Implement full parsing for details."
          }
        }
      },
      "MsgSubmitProposal": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgSubmitProposal. Implement full parsing for details."
          }
        }
      },
      "MsgSubmitProposalResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgSubmitProposalResponse. Implement full parsing for details."
          }
        }
      },
      "MsgVote": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgVote. Implement full parsing for details."
          }
        }
      },
      "MsgVoteResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgVoteResponse. Implement full parsing for details."
          }
        }
      },
      "MsgVoteWeighted": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgVoteWeighted. Implement full parsing for details."
          }
        }
      },
      "MsgVoteWeightedResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgVoteWeightedResponse. Implement full parsing for details."
          }
        }
      },
      "MsgDeposit": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgDeposit. Implement full parsing for details."
          }
        }
      },
      "MsgDepositResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgDepositResponse. Implement full parsing for details."
          }
        }
      },
      "QueryProposalRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryProposalRequest. Implement full parsing for details."
          }
        }
      },
      "QueryProposalResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryProposalResponse. Implement full parsing for details."
          }
        }
      },
      "QueryProposalsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryProposalsRequest. Implement full parsing for details."
          }
        }
      },
      "QueryProposalsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryProposalsResponse. Implement full parsing for details."
          }
        }
      },
      "QueryVoteRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryVoteRequest. Implement full parsing for details."
          }
        }
      },
      "QueryVoteResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryVoteResponse. Implement full parsing for details."
          }
        }
      },
      "QueryVotesRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryVotesRequest. Implement full parsing for details."
          }
        }
      },
      "QueryVotesResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryVotesResponse. Implement full parsing for details."
          }
        }
      },
      "QueryParamsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryParamsRequest. Implement full parsing for details."
          }
        }
      },
      "QueryParamsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryParamsResponse. Implement full parsing for details."
          }
        }
      },
      "QueryDepositRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDepositRequest. Implement full parsing for details."
          }
        }
      },
      "QueryDepositResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDepositResponse. Implement full parsing for details."
          }
        }
      },
      "QueryDepositsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDepositsRequest. Implement full parsing for details."
          }
        }
      },
      "QueryDepositsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDepositsResponse. Implement full parsing for details."
          }
        }
      },
      "QueryTallyResultRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryTallyResultRequest. Implement full parsing for details."
          }
        }
      },
      "QueryTallyResultResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryTallyResultResponse. Implement full parsing for details."
          }
        }
      },
      "QueryConstitutionRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryConstitutionRequest. Implement full parsing for details."
          }
        }
      },
      "QueryConstitutionResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryConstitutionResponse. Implement full parsing for details."
          }
        }
      },
      "MsgExecLegacyContent": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgExecLegacyContent. Implement full parsing for details."
          }
        }
      },
      "MsgExecLegacyContentResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgExecLegacyContentResponse. Implement full parsing for details."
          }
        }
      },
      "MsgCancelProposal": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgCancelProposal. Implement full parsing for details."
          }
        }
      },
      "MsgCancelProposalResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgCancelProposalResponse. Implement full parsing for details."
          }
        }
      },
      "Params": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Params. Implement full parsing for details."
          }
        }
      },
      "StoreKeyConfig": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for StoreKeyConfig. Implement full parsing for details."
          }
        }
      },
      "Config": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Config. Implement full parsing for details."
          }
        }
      },
      "ModuleConfig": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ModuleConfig. Implement full parsing for details."
          }
        }
      },
      "GolangBinding": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GolangBinding. Implement full parsing for details."
          }
        }
      },
      "QueryConfigRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryConfigRequest. Implement full parsing for details."
          }
        }
      },
      "QueryConfigResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryConfigResponse. Implement full parsing for details."
          }
        }
      },
      "ModuleDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ModuleDescriptor. Implement full parsing for details."
          }
        }
      },
      "PackageReference": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PackageReference. Implement full parsing for details."
          }
        }
      },
      "MigrateFromInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MigrateFromInfo. Implement full parsing for details."
          }
        }
      },
      "MsgSetWithdrawAddress": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgSetWithdrawAddress. Implement full parsing for details."
          }
        }
      },
      "MsgSetWithdrawAddressResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgSetWithdrawAddressResponse. Implement full parsing for details."
          }
        }
      },
      "MsgWithdrawDelegatorReward": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgWithdrawDelegatorReward. Implement full parsing for details."
          }
        }
      },
      "MsgWithdrawDelegatorRewardResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgWithdrawDelegatorRewardResponse. Implement full parsing for details."
          }
        }
      },
      "MsgWithdrawValidatorCommission": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgWithdrawValidatorCommission. Implement full parsing for details."
          }
        }
      },
      "MsgWithdrawValidatorCommissionResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgWithdrawValidatorCommissionResponse. Implement full parsing for details."
          }
        }
      },
      "MsgFundCommunityPool": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgFundCommunityPool. Implement full parsing for details."
          }
        }
      },
      "MsgFundCommunityPoolResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgFundCommunityPoolResponse. Implement full parsing for details."
          }
        }
      },
      "MsgCommunityPoolSpend": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgCommunityPoolSpend. Implement full parsing for details."
          }
        }
      },
      "MsgCommunityPoolSpendResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgCommunityPoolSpendResponse. Implement full parsing for details."
          }
        }
      },
      "MsgDepositValidatorRewardsPool": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgDepositValidatorRewardsPool. Implement full parsing for details."
          }
        }
      },
      "MsgDepositValidatorRewardsPoolResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgDepositValidatorRewardsPoolResponse. Implement full parsing for details."
          }
        }
      },
      "QueryValidatorDistributionInfoRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryValidatorDistributionInfoRequest. Implement full parsing for details."
          }
        }
      },
      "QueryValidatorDistributionInfoResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryValidatorDistributionInfoResponse. Implement full parsing for details."
          }
        }
      },
      "QueryValidatorOutstandingRewardsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryValidatorOutstandingRewardsRequest. Implement full parsing for details."
          }
        }
      },
      "QueryValidatorOutstandingRewardsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryValidatorOutstandingRewardsResponse. Implement full parsing for details."
          }
        }
      },
      "QueryValidatorCommissionRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryValidatorCommissionRequest. Implement full parsing for details."
          }
        }
      },
      "QueryValidatorCommissionResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryValidatorCommissionResponse. Implement full parsing for details."
          }
        }
      },
      "QueryValidatorSlashesRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryValidatorSlashesRequest. Implement full parsing for details."
          }
        }
      },
      "QueryValidatorSlashesResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryValidatorSlashesResponse. Implement full parsing for details."
          }
        }
      },
      "QueryDelegationRewardsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDelegationRewardsRequest. Implement full parsing for details."
          }
        }
      },
      "QueryDelegationRewardsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDelegationRewardsResponse. Implement full parsing for details."
          }
        }
      },
      "QueryDelegationTotalRewardsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDelegationTotalRewardsRequest. Implement full parsing for details."
          }
        }
      },
      "QueryDelegationTotalRewardsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDelegationTotalRewardsResponse. Implement full parsing for details."
          }
        }
      },
      "QueryDelegatorValidatorsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDelegatorValidatorsRequest. Implement full parsing for details."
          }
        }
      },
      "QueryDelegatorValidatorsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDelegatorValidatorsResponse. Implement full parsing for details."
          }
        }
      },
      "QueryDelegatorWithdrawAddressRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDelegatorWithdrawAddressRequest. Implement full parsing for details."
          }
        }
      },
      "QueryDelegatorWithdrawAddressResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryDelegatorWithdrawAddressResponse. Implement full parsing for details."
          }
        }
      },
      "QueryCommunityPoolRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryCommunityPoolRequest. Implement full parsing for details."
          }
        }
      },
      "QueryCommunityPoolResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryCommunityPoolResponse. Implement full parsing for details."
          }
        }
      },
      "DelegatorWithdrawInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for DelegatorWithdrawInfo. Implement full parsing for details."
          }
        }
      },
      "ValidatorOutstandingRewardsRecord": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorOutstandingRewardsRecord. Implement full parsing for details."
          }
        }
      },
      "ValidatorAccumulatedCommissionRecord": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorAccumulatedCommissionRecord. Implement full parsing for details."
          }
        }
      },
      "ValidatorHistoricalRewardsRecord": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorHistoricalRewardsRecord. Implement full parsing for details."
          }
        }
      },
      "ValidatorCurrentRewardsRecord": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorCurrentRewardsRecord. Implement full parsing for details."
          }
        }
      },
      "DelegatorStartingInfoRecord": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for DelegatorStartingInfoRecord. Implement full parsing for details."
          }
        }
      },
      "ValidatorSlashEventRecord": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorSlashEventRecord. Implement full parsing for details."
          }
        }
      },
      "ValidatorHistoricalRewards": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorHistoricalRewards. Implement full parsing for details."
          }
        }
      },
      "ValidatorCurrentRewards": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorCurrentRewards. Implement full parsing for details."
          }
        }
      },
      "ValidatorAccumulatedCommission": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorAccumulatedCommission. Implement full parsing for details."
          }
        }
      },
      "ValidatorOutstandingRewards": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorOutstandingRewards. Implement full parsing for details."
          }
        }
      },
      "ValidatorSlashEvent": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorSlashEvent. Implement full parsing for details."
          }
        }
      },
      "ValidatorSlashEvents": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorSlashEvents. Implement full parsing for details."
          }
        }
      },
      "FeePool": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for FeePool. Implement full parsing for details."
          }
        }
      },
      "CommunityPoolSpendProposal": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CommunityPoolSpendProposal. Implement full parsing for details."
          }
        }
      },
      "DelegatorStartingInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for DelegatorStartingInfo. Implement full parsing for details."
          }
        }
      },
      "DelegationDelegatorReward": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for DelegationDelegatorReward. Implement full parsing for details."
          }
        }
      },
      "CommunityPoolSpendProposalWithDeposit": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CommunityPoolSpendProposalWithDeposit. Implement full parsing for details."
          }
        }
      },
      "BasicAllowance": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for BasicAllowance. Implement full parsing for details."
          }
        }
      },
      "PeriodicAllowance": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PeriodicAllowance. Implement full parsing for details."
          }
        }
      },
      "AllowedMsgAllowance": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for AllowedMsgAllowance. Implement full parsing for details."
          }
        }
      },
      "Grant": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Grant. Implement full parsing for details."
          }
        }
      },
      "MsgGrantAllowance": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgGrantAllowance. Implement full parsing for details."
          }
        }
      },
      "MsgGrantAllowanceResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgGrantAllowanceResponse. Implement full parsing for details."
          }
        }
      },
      "MsgRevokeAllowance": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgRevokeAllowance. Implement full parsing for details."
          }
        }
      },
      "MsgRevokeAllowanceResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgRevokeAllowanceResponse. Implement full parsing for details."
          }
        }
      },
      "MsgPruneAllowances": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgPruneAllowances. Implement full parsing for details."
          }
        }
      },
      "MsgPruneAllowancesResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgPruneAllowancesResponse. Implement full parsing for details."
          }
        }
      },
      "QueryAllowanceRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAllowanceRequest. Implement full parsing for details."
          }
        }
      },
      "QueryAllowanceResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAllowanceResponse. Implement full parsing for details."
          }
        }
      },
      "QueryAllowancesRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAllowancesRequest. Implement full parsing for details."
          }
        }
      },
      "QueryAllowancesResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAllowancesResponse. Implement full parsing for details."
          }
        }
      },
      "QueryAllowancesByGranterRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAllowancesByGranterRequest. Implement full parsing for details."
          }
        }
      },
      "QueryAllowancesByGranterResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAllowancesByGranterResponse. Implement full parsing for details."
          }
        }
      },
      "MsgUnjail": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgUnjail. Implement full parsing for details."
          }
        }
      },
      "MsgUnjailResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgUnjailResponse. Implement full parsing for details."
          }
        }
      },
      "QuerySigningInfoRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QuerySigningInfoRequest. Implement full parsing for details."
          }
        }
      },
      "QuerySigningInfoResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QuerySigningInfoResponse. Implement full parsing for details."
          }
        }
      },
      "QuerySigningInfosRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QuerySigningInfosRequest. Implement full parsing for details."
          }
        }
      },
      "QuerySigningInfosResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QuerySigningInfosResponse. Implement full parsing for details."
          }
        }
      },
      "ValidatorSigningInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorSigningInfo. Implement full parsing for details."
          }
        }
      },
      "SigningInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SigningInfo. Implement full parsing for details."
          }
        }
      },
      "ValidatorMissedBlocks": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ValidatorMissedBlocks. Implement full parsing for details."
          }
        }
      },
      "MissedBlock": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MissedBlock. Implement full parsing for details."
          }
        }
      },
      "QueryAccountsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAccountsRequest. Implement full parsing for details."
          }
        }
      },
      "QueryAccountsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAccountsResponse. Implement full parsing for details."
          }
        }
      },
      "QueryAccountRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAccountRequest. Implement full parsing for details."
          }
        }
      },
      "QueryAccountResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAccountResponse. Implement full parsing for details."
          }
        }
      },
      "QueryModuleAccountsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryModuleAccountsRequest. Implement full parsing for details."
          }
        }
      },
      "QueryModuleAccountsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryModuleAccountsResponse. Implement full parsing for details."
          }
        }
      },
      "QueryModuleAccountByNameRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryModuleAccountByNameRequest. Implement full parsing for details."
          }
        }
      },
      "QueryModuleAccountByNameResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryModuleAccountByNameResponse. Implement full parsing for details."
          }
        }
      },
      "Bech32PrefixRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Bech32PrefixRequest. Implement full parsing for details."
          }
        }
      },
      "Bech32PrefixResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Bech32PrefixResponse. Implement full parsing for details."
          }
        }
      },
      "AddressBytesToStringRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for AddressBytesToStringRequest. Implement full parsing for details."
          }
        }
      },
      "AddressBytesToStringResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for AddressBytesToStringResponse. Implement full parsing for details."
          }
        }
      },
      "AddressStringToBytesRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for AddressStringToBytesRequest. Implement full parsing for details."
          }
        }
      },
      "AddressStringToBytesResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for AddressStringToBytesResponse. Implement full parsing for details."
          }
        }
      },
      "QueryAccountAddressByIDRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAccountAddressByIDRequest. Implement full parsing for details."
          }
        }
      },
      "QueryAccountAddressByIDResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAccountAddressByIDResponse. Implement full parsing for details."
          }
        }
      },
      "QueryAccountInfoRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAccountInfoRequest. Implement full parsing for details."
          }
        }
      },
      "QueryAccountInfoResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryAccountInfoResponse. Implement full parsing for details."
          }
        }
      },
      "BaseAccount": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for BaseAccount. Implement full parsing for details."
          }
        }
      },
      "ModuleAccount": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ModuleAccount. Implement full parsing for details."
          }
        }
      },
      "ModuleCredential": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ModuleCredential. Implement full parsing for details."
          }
        }
      },
      "ModuleAccountPermission": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ModuleAccountPermission. Implement full parsing for details."
          }
        }
      },
      "QuerySubspacesRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QuerySubspacesRequest. Implement full parsing for details."
          }
        }
      },
      "QuerySubspacesResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QuerySubspacesResponse. Implement full parsing for details."
          }
        }
      },
      "Subspace": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Subspace. Implement full parsing for details."
          }
        }
      },
      "ParameterChangeProposal": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ParameterChangeProposal. Implement full parsing for details."
          }
        }
      },
      "ParamChange": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ParamChange. Implement full parsing for details."
          }
        }
      },
      "TxResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for TxResponse. Implement full parsing for details."
          }
        }
      },
      "ABCIMessageLog": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ABCIMessageLog. Implement full parsing for details."
          }
        }
      },
      "StringEvent": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for StringEvent. Implement full parsing for details."
          }
        }
      },
      "Attribute": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Attribute. Implement full parsing for details."
          }
        }
      },
      "GasInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GasInfo. Implement full parsing for details."
          }
        }
      },
      "Result": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Result. Implement full parsing for details."
          }
        }
      },
      "SimulationResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SimulationResponse. Implement full parsing for details."
          }
        }
      },
      "MsgData": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgData. Implement full parsing for details."
          }
        }
      },
      "TxMsgData": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for TxMsgData. Implement full parsing for details."
          }
        }
      },
      "SearchTxsResult": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SearchTxsResult. Implement full parsing for details."
          }
        }
      },
      "SearchBlocksResult": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SearchBlocksResult. Implement full parsing for details."
          }
        }
      },
      "ListAllInterfacesRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ListAllInterfacesRequest. Implement full parsing for details."
          }
        }
      },
      "ListAllInterfacesResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ListAllInterfacesResponse. Implement full parsing for details."
          }
        }
      },
      "ListImplementationsRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ListImplementationsRequest. Implement full parsing for details."
          }
        }
      },
      "ListImplementationsResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ListImplementationsResponse. Implement full parsing for details."
          }
        }
      },
      "AppDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for AppDescriptor. Implement full parsing for details."
          }
        }
      },
      "TxDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for TxDescriptor. Implement full parsing for details."
          }
        }
      },
      "AuthnDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for AuthnDescriptor. Implement full parsing for details."
          }
        }
      },
      "SigningModeDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SigningModeDescriptor. Implement full parsing for details."
          }
        }
      },
      "ChainDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ChainDescriptor. Implement full parsing for details."
          }
        }
      },
      "CodecDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for CodecDescriptor. Implement full parsing for details."
          }
        }
      },
      "InterfaceDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for InterfaceDescriptor. Implement full parsing for details."
          }
        }
      },
      "InterfaceImplementerDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for InterfaceImplementerDescriptor. Implement full parsing for details."
          }
        }
      },
      "InterfaceAcceptingMessageDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for InterfaceAcceptingMessageDescriptor. Implement full parsing for details."
          }
        }
      },
      "ConfigurationDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ConfigurationDescriptor. Implement full parsing for details."
          }
        }
      },
      "MsgDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for MsgDescriptor. Implement full parsing for details."
          }
        }
      },
      "GetAuthnDescriptorRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetAuthnDescriptorRequest. Implement full parsing for details."
          }
        }
      },
      "GetAuthnDescriptorResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetAuthnDescriptorResponse. Implement full parsing for details."
          }
        }
      },
      "GetChainDescriptorRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetChainDescriptorRequest. Implement full parsing for details."
          }
        }
      },
      "GetChainDescriptorResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetChainDescriptorResponse. Implement full parsing for details."
          }
        }
      },
      "GetCodecDescriptorRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetCodecDescriptorRequest. Implement full parsing for details."
          }
        }
      },
      "GetCodecDescriptorResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetCodecDescriptorResponse. Implement full parsing for details."
          }
        }
      },
      "GetConfigurationDescriptorRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetConfigurationDescriptorRequest. Implement full parsing for details."
          }
        }
      },
      "GetConfigurationDescriptorResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetConfigurationDescriptorResponse. Implement full parsing for details."
          }
        }
      },
      "GetQueryServicesDescriptorRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetQueryServicesDescriptorRequest. Implement full parsing for details."
          }
        }
      },
      "GetQueryServicesDescriptorResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetQueryServicesDescriptorResponse. Implement full parsing for details."
          }
        }
      },
      "GetTxDescriptorRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetTxDescriptorRequest. Implement full parsing for details."
          }
        }
      },
      "GetTxDescriptorResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetTxDescriptorResponse. Implement full parsing for details."
          }
        }
      },
      "QueryServicesDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryServicesDescriptor. Implement full parsing for details."
          }
        }
      },
      "QueryServiceDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryServiceDescriptor. Implement full parsing for details."
          }
        }
      },
      "QueryMethodDescriptor": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for QueryMethodDescriptor. Implement full parsing for details."
          }
        }
      },
      "GetValidatorSetByHeightRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetValidatorSetByHeightRequest. Implement full parsing for details."
          }
        }
      },
      "GetValidatorSetByHeightResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetValidatorSetByHeightResponse. Implement full parsing for details."
          }
        }
      },
      "GetLatestValidatorSetRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetLatestValidatorSetRequest. Implement full parsing for details."
          }
        }
      },
      "GetLatestValidatorSetResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetLatestValidatorSetResponse. Implement full parsing for details."
          }
        }
      },
      "GetBlockByHeightRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetBlockByHeightRequest. Implement full parsing for details."
          }
        }
      },
      "GetBlockByHeightResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetBlockByHeightResponse. Implement full parsing for details."
          }
        }
      },
      "GetLatestBlockRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetLatestBlockRequest. Implement full parsing for details."
          }
        }
      },
      "GetLatestBlockResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetLatestBlockResponse. Implement full parsing for details."
          }
        }
      },
      "GetSyncingRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetSyncingRequest. Implement full parsing for details."
          }
        }
      },
      "GetSyncingResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetSyncingResponse. Implement full parsing for details."
          }
        }
      },
      "GetNodeInfoRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetNodeInfoRequest. Implement full parsing for details."
          }
        }
      },
      "GetNodeInfoResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for GetNodeInfoResponse. Implement full parsing for details."
          }
        }
      },
      "VersionInfo": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for VersionInfo. Implement full parsing for details."
          }
        }
      },
      "ABCIQueryRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ABCIQueryRequest. Implement full parsing for details."
          }
        }
      },
      "ABCIQueryResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ABCIQueryResponse. Implement full parsing for details."
          }
        }
      },
      "Coin": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Coin. Implement full parsing for details."
          }
        }
      },
      "DecCoin": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for DecCoin. Implement full parsing for details."
          }
        }
      },
      "IntProto": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for IntProto. Implement full parsing for details."
          }
        }
      },
      "DecProto": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for DecProto. Implement full parsing for details."
          }
        }
      },
      "SomeRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SomeRequest. Implement full parsing for details."
          }
        }
      },
      "PageRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PageRequest. Implement full parsing for details."
          }
        }
      },
      "SomeResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for SomeResponse. Implement full parsing for details."
          }
        }
      },
      "PageResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PageResponse. Implement full parsing for details."
          }
        }
      },
      "ConfigRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ConfigRequest. Implement full parsing for details."
          }
        }
      },
      "ConfigResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for ConfigResponse. Implement full parsing for details."
          }
        }
      },
      "StatusRequest": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for StatusRequest. Implement full parsing for details."
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for StatusResponse. Implement full parsing for details."
          }
        }
      },
      "PubKey": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PubKey. Implement full parsing for details."
          }
        }
      },
      "PrivKey": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for PrivKey. Implement full parsing for details."
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "placeholder": {
            "type": "string",
            "description": "Placeholder schema for Record. Implement full parsing for details."
          }
        }
      },
      "Local": {
        "type": "object",
[...]
